body {
  margin: 0;
  font-family: 'Roboto', sans-serif; }

.l-cards {
  width: calc(100% - 20px);
  margin: 0 10px; }

.l-container {
  width: 960px;
  margin: 0 auto; }

@media screen and (max-width: 1024px) {
  .container {
    width: calc(100% - 40px); } }

.nav {
  background-color: #e74c3c; }
  .nav__list {
    margin: 0;
    padding: 0; }
  .nav__item {
    display: inline-block; }
    .nav__item--mobile {
      display: none;
      font-size: 18px; }
    .nav__item--right {
      float: right; }
  .nav__link {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: white; }
    .nav__link--title {
      font-weight: bold; }

@media screen and (max-width: 1024px) {
  .nav__item {
    width: 100%;
    display: none; }
    .nav__item--mobile {
      display: block; }
    .nav__item--right {
      float: none; }
  .nav__link {
    width: 100%; } }

.btn {
  color: black;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background-color: white; }
  .btn--default {
    color: #5C6BC0;
    margin-right: 10px; }
  .btn--primary {
    color: #2c3e50; }
  .btn--danger {
    color: #e74c3c; }
  .btn--fluid {
    padding: 10px 15px;
    display: block;
    margin-right: 0; }
  .btn--active {
    background-color: #5C6BC0;
    color: #ffffff; }
  .btn--disabled {
    background-color: #bdc3c7; }

.page__title {
  margin-left: 20px; }

.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  position: relative; }
  .card__image {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
    max-height: 200px;
    overflow: hidden; }
  .card__user {
    margin-top: 3px;
    color: #607D8B; }
  .card__story {
    padding: 10px; }
  .card__preview {
    width: 100%; }
  .card__link {
    color: #2980b9;
    display: inline-block; }
  .card__actions {
    width: 100%;
    bottom: 10px;
    position: absolute;
    text-align: center; }
    .card__actions--fluid {
      bottom: 0; }
  .card__title {
    font-size: 22px;
    margin: 0; }

.container {
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 10px;
  margin-top: 10px; }

.form__input {
  width: 100%;
  margin: 0;
  max-width: 100%;
  outline: 0;
  text-align: left;
  line-height: 1.2142em;
  padding: .67861429em 1em;
  background: #FFF;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: .28571429rem;
  box-sizing: border-box; }

.form__label {
  margin-bottom: 2px; }

.form__btn {
  margin-top: 10px;
  font-size: 15px; }

@media (max-width: 800px) {
  .swiper-container {
    overflow: visible !important; } }
