body {
  margin: 0;
  font-family: 'Roboto', sans-serif; }

.nav {
  background-color: #e74c3c; }
  .nav__list {
    margin: 0;
    padding: 0; }
  .nav__item {
    display: inline-block; }
  .nav__link {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: white; }
    .nav__link--title {
      font-weight: bold; }
