.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;

  &__image {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
    max-height: 200px;
    overflow: hidden;
  }

  &__user{
    margin-top: 3px;
    color: #607D8B;
  }
  &__story{
    padding: 10px;

  }
  &__preview{
    width: 100%;
  }

  &__link {
    color: #2980b9;
    display: inline-block;
  }

  &__actions {
    width: 100%;
    bottom: 10px;
    position: absolute;
    text-align: center;

    &--fluid{
      bottom: 0;
    }
  }

  &__title {
    font-size: 22px;
    margin: 0;
  }
}