.nav {
  background-color: $alizarin;

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline-block;

    &--mobile {
      display: none;
      font-size: 18px;
    }

    &--right {
      float: right;
    }
  }

  &__link {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: white;

    &--title {
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    &__item {
      width: 100%;
      display: none;

      &--mobile {
        display: block;
      }
      &--right {
        float: none;
      }
    }

    &__link {
      width: 100%;
    }
  }
}