.nav {
  background-color: $alizarin;

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline-block;
  }

  &__link {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: white;

    &--title {
      font-weight: bold;
    }
  }
}