<form action="/gifts" method="post">
    <p>Name</p>
    <input type="text" name="name">
    <p>Description</p>
    <input type="text" name="description">
    <p>Website</p>
    <input type="text" name="url">

    <input type="submit">
</form>