<section class="l-container container">
    <form action="/gifts" method="post">
        <p class="form__label">Name</p>
        <input class="form__input" type="text" name="name">

        <p class="form__label">Description</p>
        <textarea class="form__input" name="description" rows="4"></textarea>

        <p class="form__label">Website</p>
        <input class="form__input" type="text" name="url">

        <input class="form__btn btn btn--default" type="submit" value="Create">
    </form>
</section>